/////////////////////////////////////////////
// COLORS SHADES
/////////////////////////////////////////////
$gray: (
  50: #fafafa,
  100: #f2f2f2,
  200: #d9d9d9,
  300: #bfbfbf,
  400: #a6a6a6,
  500: #8c8c8c,
  6000: #737373,
  700: #595959,
  800: #404040,
  900: #262626,
);
$blue: (
  50: #e6f8ff,
  100: #b3ebff,
  200: #80deff,
  300: #4dd1ff,
  400: #00aae6,
  500: #0084b3,
  6000: #005f80,
  700: #00394d,
  800: #002c3c,
  900: #00202b,
);
$green: (
  50: #e1fbf0,
  100: #c0ecda,
  200: #9ddfc1,
  300: #78d1aa,
  400: #45bf88,
  500: #3bab78,
  6000: #2c855e,
  700: #1d5f42,
  800: #0c3a26,
  900: #001508,
);
$orange: (
  50: #ffeee6,
  100: #fed7c5,
  200: #fdc0a3,
  300: #fda982,
  400: #fc8650,
  500: #fb641e,
  6000: #e24a04,
  700: #b03a03,
  800: #7e2902,
  900: #4c1901,
);
$red: (
  50: #f8dddd,
  100: #f2bbbb,
  200: #eb9998,
  300: #e57876,
  400: #de5654,
  500: #d83432,
  6000: #bd2624,
  700: #8e1c1b,
  800: #5f1312,
  900: #2f0909,
);
$yellow: (
  50: #ffeccc,
  100: #ffd999,
  200: #ffc666,
  300: #ffb333,
  400: #ffa000,
  500: #d58500,
  6000: #aa6b00,
  700: #805000,
  800: #553500,
  900: #2a1b00,
);

$mainColors: (
  'gray': $gray,
  'blue': $blue,
  'green': $green,
  'orange': $orange,
  'red': $red,
  'yellow': $yellow,
);
$colorShades: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
