/////////////////////////////////////////////
// FONT SIZES
/////////////////////////////////////////////
$fontSizes-xs: 0.625rem;
$fontSizes-sm: 0.75rem;
$fontSizes-md: 0.875rem;
$fontSizes-lg: 1rem;
$fontSizes-xl: 1.375rem;
$fontSizes-2xl: 1.875rem;
$fontSizes-3xl: 3rem;
$fontSizes-4xl: 2.25rem;
$fontSizes-5xl: 3rem;
$fontSizes-6xl: 3.75rem;
$fontSizes-7xl: 4.5rem;
$fontSizes-8xl: 6rem;
$fontSizes-9xl: 8rem;
$fontSizes-lgAlt: 1.125rem;

/////////////////////////////////////////////
// FONT WEIGHTS
/////////////////////////////////////////////
$fontWeights-hairline: 100;
$fontWeights-thin: 200;
$fontWeights-light: 300;
$fontWeights-normal: 400;
$fontWeights-medium: 600;
$fontWeights-semibold: 600;
$fontWeights-bold: 700;
$fontWeights-extrabold: 800;
$fontWeights-black: 900;
$fontWeights-regular: 400;

/////////////////////////////////////////////
// LETTER SPACINGS
/////////////////////////////////////////////
$letterSpacings-tighter: -0.6;
$letterSpacings-tight: -0.4;
$letterSpacings-normal: 0;
$letterSpacings-wide: 0.025em;
$letterSpacings-wider: 0.05em;
$letterSpacings-widest: 0.1em;
$letterSpacings-none: 0;
$letterSpacings-default: -0.2;

/////////////////////////////////////////////
// LINE HEIGHTS
/////////////////////////////////////////////
$lineHeights-3: 0.75rem;
$lineHeights-4: 1rem;
$lineHeights-5: 1.25rem;
$lineHeights-6: 1.5rem;
$lineHeights-7: 1.75rem;
$lineHeights-8: 2rem;
$lineHeights-9: 2.25rem;
$lineHeights-10: 2.5rem;
$lineHeights-normal: normal;
$lineHeights-none: 1;
$lineHeights-shorter: 1.25;
$lineHeights-short: 1.3;
$lineHeights-base: 1.5;
$lineHeights-tall: 1.5;
$lineHeights-taller: 2;
$lineHeights-default: 1.4;
