.m-4xl {
  margin: 8rem;
}
.mt-4xl {
  margin-top: 8rem;
}
.mb-4xl {
  margin-bottom: 8rem;
}
.ml-4xl {
  margin-left: 8rem;
}
.mr-4xl {
  margin-right: 8rem;
}
.mx-4xl {
  margin-right: 8rem;
  margin-left: 8rem;
}
.my-4xl {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media (min-width: 36em) {
  .m-4xl-sm {
    margin: 8rem;
  }
  .mt-4xl-sm {
    margin-top: 8rem;
  }
  .mb-4xl-sm {
    margin-bottom: 8rem;
  }
  .ml-4xl-sm {
    margin-left: 8rem;
  }
  .mr-4xl-sm {
    margin-right: 8rem;
  }
  .mx-4xl-sm {
    margin-right: 8rem;
    margin-left: 8rem;
  }
  .my-4xl-sm {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media (min-width: 48em) {
  .m-4xl-md {
    margin: 8rem;
  }
  .mt-4xl-md {
    margin-top: 8rem;
  }
  .mb-4xl-md {
    margin-bottom: 8rem;
  }
  .ml-4xl-md {
    margin-left: 8rem;
  }
  .mr-4xl-md {
    margin-right: 8rem;
  }
  .mx-4xl-md {
    margin-right: 8rem;
    margin-left: 8rem;
  }
  .my-4xl-md {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media (min-width: 60em) {
  .m-4xl-lg {
    margin: 8rem;
  }
  .mt-4xl-lg {
    margin-top: 8rem;
  }
  .mb-4xl-lg {
    margin-bottom: 8rem;
  }
  .ml-4xl-lg {
    margin-left: 8rem;
  }
  .mr-4xl-lg {
    margin-right: 8rem;
  }
  .mx-4xl-lg {
    margin-right: 8rem;
    margin-left: 8rem;
  }
  .my-4xl-lg {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media (min-width: 80em) {
  .m-4xl-xl {
    margin: 8rem;
  }
  .mt-4xl-xl {
    margin-top: 8rem;
  }
  .mb-4xl-xl {
    margin-bottom: 8rem;
  }
  .ml-4xl-xl {
    margin-left: 8rem;
  }
  .mr-4xl-xl {
    margin-right: 8rem;
  }
  .mx-4xl-xl {
    margin-right: 8rem;
    margin-left: 8rem;
  }
  .my-4xl-xl {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

.p-4xl {
  padding: 8rem;
}
.pt-4xl {
  padding-top: 8rem;
}
.pb-4xl {
  padding-bottom: 8rem;
}
.pl-4xl {
  padding-left: 8rem;
}
.pr-4xl {
  padding-right: 8rem;
}
.px-4xl {
  padding-right: 8rem;
  padding-left: 8rem;
}
.py-4xl {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 36em) {
  .p-4xl-sm {
    padding: 8rem;
  }
  .pt-4xl-sm {
    padding-top: 8rem;
  }
  .pb-4xl-sm {
    padding-bottom: 8rem;
  }
  .pl-4xl-sm {
    padding-left: 8rem;
  }
  .pr-4xl-sm {
    padding-right: 8rem;
  }
  .px-4xl-sm {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .py-4xl-sm {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 48em) {
  .p-4xl-md {
    padding: 8rem;
  }
  .pt-4xl-md {
    padding-top: 8rem;
  }
  .pb-4xl-md {
    padding-bottom: 8rem;
  }
  .pl-4xl-md {
    padding-left: 8rem;
  }
  .pr-4xl-md {
    padding-right: 8rem;
  }
  .px-4xl-md {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .py-4xl-md {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 60em) {
  .p-4xl-lg {
    padding: 8rem;
  }
  .pt-4xl-lg {
    padding-top: 8rem;
  }
  .pb-4xl-lg {
    padding-bottom: 8rem;
  }
  .pl-4xl-lg {
    padding-left: 8rem;
  }
  .pr-4xl-lg {
    padding-right: 8rem;
  }
  .px-4xl-lg {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .py-4xl-lg {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 80em) {
  .p-4xl-xl {
    padding: 8rem;
  }
  .pt-4xl-xl {
    padding-top: 8rem;
  }
  .pb-4xl-xl {
    padding-bottom: 8rem;
  }
  .pl-4xl-xl {
    padding-left: 8rem;
  }
  .pr-4xl-xl {
    padding-right: 8rem;
  }
  .px-4xl-xl {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .py-4xl-xl {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.m-3xl {
  margin: 6rem;
}
.mt-3xl {
  margin-top: 6rem;
}
.mb-3xl {
  margin-bottom: 6rem;
}
.ml-3xl {
  margin-left: 6rem;
}
.mr-3xl {
  margin-right: 6rem;
}
.mx-3xl {
  margin-right: 6rem;
  margin-left: 6rem;
}
.my-3xl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media (min-width: 36em) {
  .m-3xl-sm {
    margin: 6rem;
  }
  .mt-3xl-sm {
    margin-top: 6rem;
  }
  .mb-3xl-sm {
    margin-bottom: 6rem;
  }
  .ml-3xl-sm {
    margin-left: 6rem;
  }
  .mr-3xl-sm {
    margin-right: 6rem;
  }
  .mx-3xl-sm {
    margin-right: 6rem;
    margin-left: 6rem;
  }
  .my-3xl-sm {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

@media (min-width: 48em) {
  .m-3xl-md {
    margin: 6rem;
  }
  .mt-3xl-md {
    margin-top: 6rem;
  }
  .mb-3xl-md {
    margin-bottom: 6rem;
  }
  .ml-3xl-md {
    margin-left: 6rem;
  }
  .mr-3xl-md {
    margin-right: 6rem;
  }
  .mx-3xl-md {
    margin-right: 6rem;
    margin-left: 6rem;
  }
  .my-3xl-md {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

@media (min-width: 60em) {
  .m-3xl-lg {
    margin: 6rem;
  }
  .mt-3xl-lg {
    margin-top: 6rem;
  }
  .mb-3xl-lg {
    margin-bottom: 6rem;
  }
  .ml-3xl-lg {
    margin-left: 6rem;
  }
  .mr-3xl-lg {
    margin-right: 6rem;
  }
  .mx-3xl-lg {
    margin-right: 6rem;
    margin-left: 6rem;
  }
  .my-3xl-lg {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

@media (min-width: 80em) {
  .m-3xl-xl {
    margin: 6rem;
  }
  .mt-3xl-xl {
    margin-top: 6rem;
  }
  .mb-3xl-xl {
    margin-bottom: 6rem;
  }
  .ml-3xl-xl {
    margin-left: 6rem;
  }
  .mr-3xl-xl {
    margin-right: 6rem;
  }
  .mx-3xl-xl {
    margin-right: 6rem;
    margin-left: 6rem;
  }
  .my-3xl-xl {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.p-3xl {
  padding: 6rem;
}
.pt-3xl {
  padding-top: 6rem;
}
.pb-3xl {
  padding-bottom: 6rem;
}
.pl-3xl {
  padding-left: 6rem;
}
.pr-3xl {
  padding-right: 6rem;
}
.px-3xl {
  padding-right: 6rem;
  padding-left: 6rem;
}
.py-3xl {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 36em) {
  .p-3xl-sm {
    padding: 6rem;
  }
  .pt-3xl-sm {
    padding-top: 6rem;
  }
  .pb-3xl-sm {
    padding-bottom: 6rem;
  }
  .pl-3xl-sm {
    padding-left: 6rem;
  }
  .pr-3xl-sm {
    padding-right: 6rem;
  }
  .px-3xl-sm {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .py-3xl-sm {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 48em) {
  .p-3xl-md {
    padding: 6rem;
  }
  .pt-3xl-md {
    padding-top: 6rem;
  }
  .pb-3xl-md {
    padding-bottom: 6rem;
  }
  .pl-3xl-md {
    padding-left: 6rem;
  }
  .pr-3xl-md {
    padding-right: 6rem;
  }
  .px-3xl-md {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .py-3xl-md {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 60em) {
  .p-3xl-lg {
    padding: 6rem;
  }
  .pt-3xl-lg {
    padding-top: 6rem;
  }
  .pb-3xl-lg {
    padding-bottom: 6rem;
  }
  .pl-3xl-lg {
    padding-left: 6rem;
  }
  .pr-3xl-lg {
    padding-right: 6rem;
  }
  .px-3xl-lg {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .py-3xl-lg {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 80em) {
  .p-3xl-xl {
    padding: 6rem;
  }
  .pt-3xl-xl {
    padding-top: 6rem;
  }
  .pb-3xl-xl {
    padding-bottom: 6rem;
  }
  .pl-3xl-xl {
    padding-left: 6rem;
  }
  .pr-3xl-xl {
    padding-right: 6rem;
  }
  .px-3xl-xl {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .py-3xl-xl {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.m-2xl {
  margin: 5rem;
}
.mt-2xl {
  margin-top: 5rem;
}
.mb-2xl {
  margin-bottom: 5rem;
}
.ml-2xl {
  margin-left: 5rem;
}
.mr-2xl {
  margin-right: 5rem;
}
.mx-2xl {
  margin-right: 5rem;
  margin-left: 5rem;
}
.my-2xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (min-width: 36em) {
  .m-2xl-sm {
    margin: 5rem;
  }
  .mt-2xl-sm {
    margin-top: 5rem;
  }
  .mb-2xl-sm {
    margin-bottom: 5rem;
  }
  .ml-2xl-sm {
    margin-left: 5rem;
  }
  .mr-2xl-sm {
    margin-right: 5rem;
  }
  .mx-2xl-sm {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .my-2xl-sm {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 48em) {
  .m-2xl-md {
    margin: 5rem;
  }
  .mt-2xl-md {
    margin-top: 5rem;
  }
  .mb-2xl-md {
    margin-bottom: 5rem;
  }
  .ml-2xl-md {
    margin-left: 5rem;
  }
  .mr-2xl-md {
    margin-right: 5rem;
  }
  .mx-2xl-md {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .my-2xl-md {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 60em) {
  .m-2xl-lg {
    margin: 5rem;
  }
  .mt-2xl-lg {
    margin-top: 5rem;
  }
  .mb-2xl-lg {
    margin-bottom: 5rem;
  }
  .ml-2xl-lg {
    margin-left: 5rem;
  }
  .mr-2xl-lg {
    margin-right: 5rem;
  }
  .mx-2xl-lg {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .my-2xl-lg {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 80em) {
  .m-2xl-xl {
    margin: 5rem;
  }
  .mt-2xl-xl {
    margin-top: 5rem;
  }
  .mb-2xl-xl {
    margin-bottom: 5rem;
  }
  .ml-2xl-xl {
    margin-left: 5rem;
  }
  .mr-2xl-xl {
    margin-right: 5rem;
  }
  .mx-2xl-xl {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .my-2xl-xl {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.p-2xl {
  padding: 5rem;
}
.pt-2xl {
  padding-top: 5rem;
}
.pb-2xl {
  padding-bottom: 5rem;
}
.pl-2xl {
  padding-left: 5rem;
}
.pr-2xl {
  padding-right: 5rem;
}
.px-2xl {
  padding-right: 5rem;
  padding-left: 5rem;
}
.py-2xl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 36em) {
  .p-2xl-sm {
    padding: 5rem;
  }
  .pt-2xl-sm {
    padding-top: 5rem;
  }
  .pb-2xl-sm {
    padding-bottom: 5rem;
  }
  .pl-2xl-sm {
    padding-left: 5rem;
  }
  .pr-2xl-sm {
    padding-right: 5rem;
  }
  .px-2xl-sm {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .py-2xl-sm {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 48em) {
  .p-2xl-md {
    padding: 5rem;
  }
  .pt-2xl-md {
    padding-top: 5rem;
  }
  .pb-2xl-md {
    padding-bottom: 5rem;
  }
  .pl-2xl-md {
    padding-left: 5rem;
  }
  .pr-2xl-md {
    padding-right: 5rem;
  }
  .px-2xl-md {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .py-2xl-md {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 60em) {
  .p-2xl-lg {
    padding: 5rem;
  }
  .pt-2xl-lg {
    padding-top: 5rem;
  }
  .pb-2xl-lg {
    padding-bottom: 5rem;
  }
  .pl-2xl-lg {
    padding-left: 5rem;
  }
  .pr-2xl-lg {
    padding-right: 5rem;
  }
  .px-2xl-lg {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .py-2xl-lg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 80em) {
  .p-2xl-xl {
    padding: 5rem;
  }
  .pt-2xl-xl {
    padding-top: 5rem;
  }
  .pb-2xl-xl {
    padding-bottom: 5rem;
  }
  .pl-2xl-xl {
    padding-left: 5rem;
  }
  .pr-2xl-xl {
    padding-right: 5rem;
  }
  .px-2xl-xl {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .py-2xl-xl {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.m-xl {
  margin: 3rem;
}
.mt-xl {
  margin-top: 3rem;
}
.mb-xl {
  margin-bottom: 3rem;
}
.ml-xl {
  margin-left: 3rem;
}
.mr-xl {
  margin-right: 3rem;
}
.mx-xl {
  margin-right: 3rem;
  margin-left: 3rem;
}
.my-xl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 36em) {
  .m-xl-sm {
    margin: 3rem;
  }
  .mt-xl-sm {
    margin-top: 3rem;
  }
  .mb-xl-sm {
    margin-bottom: 3rem;
  }
  .ml-xl-sm {
    margin-left: 3rem;
  }
  .mr-xl-sm {
    margin-right: 3rem;
  }
  .mx-xl-sm {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .my-xl-sm {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 48em) {
  .m-xl-md {
    margin: 3rem;
  }
  .mt-xl-md {
    margin-top: 3rem;
  }
  .mb-xl-md {
    margin-bottom: 3rem;
  }
  .ml-xl-md {
    margin-left: 3rem;
  }
  .mr-xl-md {
    margin-right: 3rem;
  }
  .mx-xl-md {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .my-xl-md {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 60em) {
  .m-xl-lg {
    margin: 3rem;
  }
  .mt-xl-lg {
    margin-top: 3rem;
  }
  .mb-xl-lg {
    margin-bottom: 3rem;
  }
  .ml-xl-lg {
    margin-left: 3rem;
  }
  .mr-xl-lg {
    margin-right: 3rem;
  }
  .mx-xl-lg {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .my-xl-lg {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 80em) {
  .m-xl-xl {
    margin: 3rem;
  }
  .mt-xl-xl {
    margin-top: 3rem;
  }
  .mb-xl-xl {
    margin-bottom: 3rem;
  }
  .ml-xl-xl {
    margin-left: 3rem;
  }
  .mr-xl-xl {
    margin-right: 3rem;
  }
  .mx-xl-xl {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .my-xl-xl {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.p-xl {
  padding: 3rem;
}
.pt-xl {
  padding-top: 3rem;
}
.pb-xl {
  padding-bottom: 3rem;
}
.pl-xl {
  padding-left: 3rem;
}
.pr-xl {
  padding-right: 3rem;
}
.px-xl {
  padding-right: 3rem;
  padding-left: 3rem;
}
.py-xl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 36em) {
  .p-xl-sm {
    padding: 3rem;
  }
  .pt-xl-sm {
    padding-top: 3rem;
  }
  .pb-xl-sm {
    padding-bottom: 3rem;
  }
  .pl-xl-sm {
    padding-left: 3rem;
  }
  .pr-xl-sm {
    padding-right: 3rem;
  }
  .px-xl-sm {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .py-xl-sm {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 48em) {
  .p-xl-md {
    padding: 3rem;
  }
  .pt-xl-md {
    padding-top: 3rem;
  }
  .pb-xl-md {
    padding-bottom: 3rem;
  }
  .pl-xl-md {
    padding-left: 3rem;
  }
  .pr-xl-md {
    padding-right: 3rem;
  }
  .px-xl-md {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .py-xl-md {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 60em) {
  .p-xl-lg {
    padding: 3rem;
  }
  .pt-xl-lg {
    padding-top: 3rem;
  }
  .pb-xl-lg {
    padding-bottom: 3rem;
  }
  .pl-xl-lg {
    padding-left: 3rem;
  }
  .pr-xl-lg {
    padding-right: 3rem;
  }
  .px-xl-lg {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .py-xl-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 80em) {
  .p-xl-xl {
    padding: 3rem;
  }
  .pt-xl-xl {
    padding-top: 3rem;
  }
  .pb-xl-xl {
    padding-bottom: 3rem;
  }
  .pl-xl-xl {
    padding-left: 3rem;
  }
  .pr-xl-xl {
    padding-right: 3rem;
  }
  .px-xl-xl {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .py-xl-xl {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.m-lg-alt {
  margin: 2rem;
}
.mt-lg-alt {
  margin-top: 2rem;
}
.mb-lg-alt {
  margin-bottom: 2rem;
}
.ml-lg-alt {
  margin-left: 2rem;
}
.mr-lg-alt {
  margin-right: 2rem;
}
.mx-lg-alt {
  margin-right: 2rem;
  margin-left: 2rem;
}
.my-lg-alt {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 36em) {
  .m-lg-alt-sm {
    margin: 2rem;
  }
  .mt-lg-alt-sm {
    margin-top: 2rem;
  }
  .mb-lg-alt-sm {
    margin-bottom: 2rem;
  }
  .ml-lg-alt-sm {
    margin-left: 2rem;
  }
  .mr-lg-alt-sm {
    margin-right: 2rem;
  }
  .mx-lg-alt-sm {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .my-lg-alt-sm {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 48em) {
  .m-lg-alt-md {
    margin: 2rem;
  }
  .mt-lg-alt-md {
    margin-top: 2rem;
  }
  .mb-lg-alt-md {
    margin-bottom: 2rem;
  }
  .ml-lg-alt-md {
    margin-left: 2rem;
  }
  .mr-lg-alt-md {
    margin-right: 2rem;
  }
  .mx-lg-alt-md {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .my-lg-alt-md {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 60em) {
  .m-lg-alt-lg {
    margin: 2rem;
  }
  .mt-lg-alt-lg {
    margin-top: 2rem;
  }
  .mb-lg-alt-lg {
    margin-bottom: 2rem;
  }
  .ml-lg-alt-lg {
    margin-left: 2rem;
  }
  .mr-lg-alt-lg {
    margin-right: 2rem;
  }
  .mx-lg-alt-lg {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .my-lg-alt-lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 80em) {
  .m-lg-alt-xl {
    margin: 2rem;
  }
  .mt-lg-alt-xl {
    margin-top: 2rem;
  }
  .mb-lg-alt-xl {
    margin-bottom: 2rem;
  }
  .ml-lg-alt-xl {
    margin-left: 2rem;
  }
  .mr-lg-alt-xl {
    margin-right: 2rem;
  }
  .mx-lg-alt-xl {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .my-lg-alt-xl {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.p-lg-alt {
  padding: 2rem;
}
.pt-lg-alt {
  padding-top: 2rem;
}
.pb-lg-alt {
  padding-bottom: 2rem;
}
.pl-lg-alt {
  padding-left: 2rem;
}
.pr-lg-alt {
  padding-right: 2rem;
}
.px-lg-alt {
  padding-right: 2rem;
  padding-left: 2rem;
}
.py-lg-alt {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 36em) {
  .p-lg-alt-sm {
    padding: 2rem;
  }
  .pt-lg-alt-sm {
    padding-top: 2rem;
  }
  .pb-lg-alt-sm {
    padding-bottom: 2rem;
  }
  .pl-lg-alt-sm {
    padding-left: 2rem;
  }
  .pr-lg-alt-sm {
    padding-right: 2rem;
  }
  .px-lg-alt-sm {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .py-lg-alt-sm {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 48em) {
  .p-lg-alt-md {
    padding: 2rem;
  }
  .pt-lg-alt-md {
    padding-top: 2rem;
  }
  .pb-lg-alt-md {
    padding-bottom: 2rem;
  }
  .pl-lg-alt-md {
    padding-left: 2rem;
  }
  .pr-lg-alt-md {
    padding-right: 2rem;
  }
  .px-lg-alt-md {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .py-lg-alt-md {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 60em) {
  .p-lg-alt-lg {
    padding: 2rem;
  }
  .pt-lg-alt-lg {
    padding-top: 2rem;
  }
  .pb-lg-alt-lg {
    padding-bottom: 2rem;
  }
  .pl-lg-alt-lg {
    padding-left: 2rem;
  }
  .pr-lg-alt-lg {
    padding-right: 2rem;
  }
  .px-lg-alt-lg {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .py-lg-alt-lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 80em) {
  .p-lg-alt-xl {
    padding: 2rem;
  }
  .pt-lg-alt-xl {
    padding-top: 2rem;
  }
  .pb-lg-alt-xl {
    padding-bottom: 2rem;
  }
  .pl-lg-alt-xl {
    padding-left: 2rem;
  }
  .pr-lg-alt-xl {
    padding-right: 2rem;
  }
  .px-lg-alt-xl {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .py-lg-alt-xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.m-lg {
  margin: 1.5rem;
}
.mt-lg {
  margin-top: 1.5rem;
}
.mb-lg {
  margin-bottom: 1.5rem;
}
.ml-lg {
  margin-left: 1.5rem;
}
.mr-lg {
  margin-right: 1.5rem;
}
.mx-lg {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.my-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 36em) {
  .m-lg-sm {
    margin: 1.5rem;
  }
  .mt-lg-sm {
    margin-top: 1.5rem;
  }
  .mb-lg-sm {
    margin-bottom: 1.5rem;
  }
  .ml-lg-sm {
    margin-left: 1.5rem;
  }
  .mr-lg-sm {
    margin-right: 1.5rem;
  }
  .mx-lg-sm {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .my-lg-sm {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 48em) {
  .m-lg-md {
    margin: 1.5rem;
  }
  .mt-lg-md {
    margin-top: 1.5rem;
  }
  .mb-lg-md {
    margin-bottom: 1.5rem;
  }
  .ml-lg-md {
    margin-left: 1.5rem;
  }
  .mr-lg-md {
    margin-right: 1.5rem;
  }
  .mx-lg-md {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .my-lg-md {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 60em) {
  .m-lg-lg {
    margin: 1.5rem;
  }
  .mt-lg-lg {
    margin-top: 1.5rem;
  }
  .mb-lg-lg {
    margin-bottom: 1.5rem;
  }
  .ml-lg-lg {
    margin-left: 1.5rem;
  }
  .mr-lg-lg {
    margin-right: 1.5rem;
  }
  .mx-lg-lg {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .my-lg-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 80em) {
  .m-lg-xl {
    margin: 1.5rem;
  }
  .mt-lg-xl {
    margin-top: 1.5rem;
  }
  .mb-lg-xl {
    margin-bottom: 1.5rem;
  }
  .ml-lg-xl {
    margin-left: 1.5rem;
  }
  .mr-lg-xl {
    margin-right: 1.5rem;
  }
  .mx-lg-xl {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .my-lg-xl {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.p-lg {
  padding: 1.5rem;
}
.pt-lg {
  padding-top: 1.5rem;
}
.pb-lg {
  padding-bottom: 1.5rem;
}
.pl-lg {
  padding-left: 1.5rem;
}
.pr-lg {
  padding-right: 1.5rem;
}
.px-lg {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.py-lg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 36em) {
  .p-lg-sm {
    padding: 1.5rem;
  }
  .pt-lg-sm {
    padding-top: 1.5rem;
  }
  .pb-lg-sm {
    padding-bottom: 1.5rem;
  }
  .pl-lg-sm {
    padding-left: 1.5rem;
  }
  .pr-lg-sm {
    padding-right: 1.5rem;
  }
  .px-lg-sm {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .py-lg-sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 48em) {
  .p-lg-md {
    padding: 1.5rem;
  }
  .pt-lg-md {
    padding-top: 1.5rem;
  }
  .pb-lg-md {
    padding-bottom: 1.5rem;
  }
  .pl-lg-md {
    padding-left: 1.5rem;
  }
  .pr-lg-md {
    padding-right: 1.5rem;
  }
  .px-lg-md {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .py-lg-md {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 60em) {
  .p-lg-lg {
    padding: 1.5rem;
  }
  .pt-lg-lg {
    padding-top: 1.5rem;
  }
  .pb-lg-lg {
    padding-bottom: 1.5rem;
  }
  .pl-lg-lg {
    padding-left: 1.5rem;
  }
  .pr-lg-lg {
    padding-right: 1.5rem;
  }
  .px-lg-lg {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .py-lg-lg {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 80em) {
  .p-lg-xl {
    padding: 1.5rem;
  }
  .pt-lg-xl {
    padding-top: 1.5rem;
  }
  .pb-lg-xl {
    padding-bottom: 1.5rem;
  }
  .pl-lg-xl {
    padding-left: 1.5rem;
  }
  .pr-lg-xl {
    padding-right: 1.5rem;
  }
  .px-lg-xl {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .py-lg-xl {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.m-md {
  margin: 1rem;
}
.mt-md {
  margin-top: 1rem;
}
.mb-md {
  margin-bottom: 1rem;
}
.ml-md {
  margin-left: 1rem;
}
.mr-md {
  margin-right: 1rem;
}
.mx-md {
  margin-right: 1rem;
  margin-left: 1rem;
}
.my-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 36em) {
  .m-md-sm {
    margin: 1rem;
  }
  .mt-md-sm {
    margin-top: 1rem;
  }
  .mb-md-sm {
    margin-bottom: 1rem;
  }
  .ml-md-sm {
    margin-left: 1rem;
  }
  .mr-md-sm {
    margin-right: 1rem;
  }
  .mx-md-sm {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .my-md-sm {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 48em) {
  .m-md-md {
    margin: 1rem;
  }
  .mt-md-md {
    margin-top: 1rem;
  }
  .mb-md-md {
    margin-bottom: 1rem;
  }
  .ml-md-md {
    margin-left: 1rem;
  }
  .mr-md-md {
    margin-right: 1rem;
  }
  .mx-md-md {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .my-md-md {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 60em) {
  .m-md-lg {
    margin: 1rem;
  }
  .mt-md-lg {
    margin-top: 1rem;
  }
  .mb-md-lg {
    margin-bottom: 1rem;
  }
  .ml-md-lg {
    margin-left: 1rem;
  }
  .mr-md-lg {
    margin-right: 1rem;
  }
  .mx-md-lg {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .my-md-lg {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 80em) {
  .m-md-xl {
    margin: 1rem;
  }
  .mt-md-xl {
    margin-top: 1rem;
  }
  .mb-md-xl {
    margin-bottom: 1rem;
  }
  .ml-md-xl {
    margin-left: 1rem;
  }
  .mr-md-xl {
    margin-right: 1rem;
  }
  .mx-md-xl {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .my-md-xl {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.p-md {
  padding: 1rem;
}
.pt-md {
  padding-top: 1rem;
}
.pb-md {
  padding-bottom: 1rem;
}
.pl-md {
  padding-left: 1rem;
}
.pr-md {
  padding-right: 1rem;
}
.px-md {
  padding-right: 1rem;
  padding-left: 1rem;
}
.py-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 36em) {
  .p-md-sm {
    padding: 1rem;
  }
  .pt-md-sm {
    padding-top: 1rem;
  }
  .pb-md-sm {
    padding-bottom: 1rem;
  }
  .pl-md-sm {
    padding-left: 1rem;
  }
  .pr-md-sm {
    padding-right: 1rem;
  }
  .px-md-sm {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .py-md-sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 48em) {
  .p-md-md {
    padding: 1rem;
  }
  .pt-md-md {
    padding-top: 1rem;
  }
  .pb-md-md {
    padding-bottom: 1rem;
  }
  .pl-md-md {
    padding-left: 1rem;
  }
  .pr-md-md {
    padding-right: 1rem;
  }
  .px-md-md {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .py-md-md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 60em) {
  .p-md-lg {
    padding: 1rem;
  }
  .pt-md-lg {
    padding-top: 1rem;
  }
  .pb-md-lg {
    padding-bottom: 1rem;
  }
  .pl-md-lg {
    padding-left: 1rem;
  }
  .pr-md-lg {
    padding-right: 1rem;
  }
  .px-md-lg {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .py-md-lg {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 80em) {
  .p-md-xl {
    padding: 1rem;
  }
  .pt-md-xl {
    padding-top: 1rem;
  }
  .pb-md-xl {
    padding-bottom: 1rem;
  }
  .pl-md-xl {
    padding-left: 1rem;
  }
  .pr-md-xl {
    padding-right: 1rem;
  }
  .px-md-xl {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .py-md-xl {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.m-sm {
  margin: 0.75rem;
}
.mt-sm {
  margin-top: 0.75rem;
}
.mb-sm {
  margin-bottom: 0.75rem;
}
.ml-sm {
  margin-left: 0.75rem;
}
.mr-sm {
  margin-right: 0.75rem;
}
.mx-sm {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.my-sm {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 36em) {
  .m-sm-sm {
    margin: 0.75rem;
  }
  .mt-sm-sm {
    margin-top: 0.75rem;
  }
  .mb-sm-sm {
    margin-bottom: 0.75rem;
  }
  .ml-sm-sm {
    margin-left: 0.75rem;
  }
  .mr-sm-sm {
    margin-right: 0.75rem;
  }
  .mx-sm-sm {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .my-sm-sm {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 48em) {
  .m-sm-md {
    margin: 0.75rem;
  }
  .mt-sm-md {
    margin-top: 0.75rem;
  }
  .mb-sm-md {
    margin-bottom: 0.75rem;
  }
  .ml-sm-md {
    margin-left: 0.75rem;
  }
  .mr-sm-md {
    margin-right: 0.75rem;
  }
  .mx-sm-md {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .my-sm-md {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 60em) {
  .m-sm-lg {
    margin: 0.75rem;
  }
  .mt-sm-lg {
    margin-top: 0.75rem;
  }
  .mb-sm-lg {
    margin-bottom: 0.75rem;
  }
  .ml-sm-lg {
    margin-left: 0.75rem;
  }
  .mr-sm-lg {
    margin-right: 0.75rem;
  }
  .mx-sm-lg {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .my-sm-lg {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 80em) {
  .m-sm-xl {
    margin: 0.75rem;
  }
  .mt-sm-xl {
    margin-top: 0.75rem;
  }
  .mb-sm-xl {
    margin-bottom: 0.75rem;
  }
  .ml-sm-xl {
    margin-left: 0.75rem;
  }
  .mr-sm-xl {
    margin-right: 0.75rem;
  }
  .mx-sm-xl {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .my-sm-xl {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.p-sm {
  padding: 0.75rem;
}
.pt-sm {
  padding-top: 0.75rem;
}
.pb-sm {
  padding-bottom: 0.75rem;
}
.pl-sm {
  padding-left: 0.75rem;
}
.pr-sm {
  padding-right: 0.75rem;
}
.px-sm {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.py-sm {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: 36em) {
  .p-sm-sm {
    padding: 0.75rem;
  }
  .pt-sm-sm {
    padding-top: 0.75rem;
  }
  .pb-sm-sm {
    padding-bottom: 0.75rem;
  }
  .pl-sm-sm {
    padding-left: 0.75rem;
  }
  .pr-sm-sm {
    padding-right: 0.75rem;
  }
  .px-sm-sm {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .py-sm-sm {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 48em) {
  .p-sm-md {
    padding: 0.75rem;
  }
  .pt-sm-md {
    padding-top: 0.75rem;
  }
  .pb-sm-md {
    padding-bottom: 0.75rem;
  }
  .pl-sm-md {
    padding-left: 0.75rem;
  }
  .pr-sm-md {
    padding-right: 0.75rem;
  }
  .px-sm-md {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .py-sm-md {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 60em) {
  .p-sm-lg {
    padding: 0.75rem;
  }
  .pt-sm-lg {
    padding-top: 0.75rem;
  }
  .pb-sm-lg {
    padding-bottom: 0.75rem;
  }
  .pl-sm-lg {
    padding-left: 0.75rem;
  }
  .pr-sm-lg {
    padding-right: 0.75rem;
  }
  .px-sm-lg {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .py-sm-lg {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 80em) {
  .p-sm-xl {
    padding: 0.75rem;
  }
  .pt-sm-xl {
    padding-top: 0.75rem;
  }
  .pb-sm-xl {
    padding-bottom: 0.75rem;
  }
  .pl-sm-xl {
    padding-left: 0.75rem;
  }
  .pr-sm-xl {
    padding-right: 0.75rem;
  }
  .px-sm-xl {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .py-sm-xl {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.m-xs {
  margin: 0.5rem;
}
.mt-xs {
  margin-top: 0.5rem;
}
.mb-xs {
  margin-bottom: 0.5rem;
}
.ml-xs {
  margin-left: 0.5rem;
}
.mr-xs {
  margin-right: 0.5rem;
}
.mx-xs {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.my-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 36em) {
  .m-xs-sm {
    margin: 0.5rem;
  }
  .mt-xs-sm {
    margin-top: 0.5rem;
  }
  .mb-xs-sm {
    margin-bottom: 0.5rem;
  }
  .ml-xs-sm {
    margin-left: 0.5rem;
  }
  .mr-xs-sm {
    margin-right: 0.5rem;
  }
  .mx-xs-sm {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .my-xs-sm {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 48em) {
  .m-xs-md {
    margin: 0.5rem;
  }
  .mt-xs-md {
    margin-top: 0.5rem;
  }
  .mb-xs-md {
    margin-bottom: 0.5rem;
  }
  .ml-xs-md {
    margin-left: 0.5rem;
  }
  .mr-xs-md {
    margin-right: 0.5rem;
  }
  .mx-xs-md {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .my-xs-md {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 60em) {
  .m-xs-lg {
    margin: 0.5rem;
  }
  .mt-xs-lg {
    margin-top: 0.5rem;
  }
  .mb-xs-lg {
    margin-bottom: 0.5rem;
  }
  .ml-xs-lg {
    margin-left: 0.5rem;
  }
  .mr-xs-lg {
    margin-right: 0.5rem;
  }
  .mx-xs-lg {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .my-xs-lg {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 80em) {
  .m-xs-xl {
    margin: 0.5rem;
  }
  .mt-xs-xl {
    margin-top: 0.5rem;
  }
  .mb-xs-xl {
    margin-bottom: 0.5rem;
  }
  .ml-xs-xl {
    margin-left: 0.5rem;
  }
  .mr-xs-xl {
    margin-right: 0.5rem;
  }
  .mx-xs-xl {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .my-xs-xl {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.p-xs {
  padding: 0.5rem;
}
.pt-xs {
  padding-top: 0.5rem;
}
.pb-xs {
  padding-bottom: 0.5rem;
}
.pl-xs {
  padding-left: 0.5rem;
}
.pr-xs {
  padding-right: 0.5rem;
}
.px-xs {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.py-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 36em) {
  .p-xs-sm {
    padding: 0.5rem;
  }
  .pt-xs-sm {
    padding-top: 0.5rem;
  }
  .pb-xs-sm {
    padding-bottom: 0.5rem;
  }
  .pl-xs-sm {
    padding-left: 0.5rem;
  }
  .pr-xs-sm {
    padding-right: 0.5rem;
  }
  .px-xs-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .py-xs-sm {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 48em) {
  .p-xs-md {
    padding: 0.5rem;
  }
  .pt-xs-md {
    padding-top: 0.5rem;
  }
  .pb-xs-md {
    padding-bottom: 0.5rem;
  }
  .pl-xs-md {
    padding-left: 0.5rem;
  }
  .pr-xs-md {
    padding-right: 0.5rem;
  }
  .px-xs-md {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .py-xs-md {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 60em) {
  .p-xs-lg {
    padding: 0.5rem;
  }
  .pt-xs-lg {
    padding-top: 0.5rem;
  }
  .pb-xs-lg {
    padding-bottom: 0.5rem;
  }
  .pl-xs-lg {
    padding-left: 0.5rem;
  }
  .pr-xs-lg {
    padding-right: 0.5rem;
  }
  .px-xs-lg {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .py-xs-lg {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 80em) {
  .p-xs-xl {
    padding: 0.5rem;
  }
  .pt-xs-xl {
    padding-top: 0.5rem;
  }
  .pb-xs-xl {
    padding-bottom: 0.5rem;
  }
  .pl-xs-xl {
    padding-left: 0.5rem;
  }
  .pr-xs-xl {
    padding-right: 0.5rem;
  }
  .px-xs-xl {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .py-xs-xl {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.m-2xs {
  margin: 0.25rem;
}
.mt-2xs {
  margin-top: 0.25rem;
}
.mb-2xs {
  margin-bottom: 0.25rem;
}
.ml-2xs {
  margin-left: 0.25rem;
}
.mr-2xs {
  margin-right: 0.25rem;
}
.mx-2xs {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.my-2xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@media (min-width: 36em) {
  .m-2xs-sm {
    margin: 0.25rem;
  }
  .mt-2xs-sm {
    margin-top: 0.25rem;
  }
  .mb-2xs-sm {
    margin-bottom: 0.25rem;
  }
  .ml-2xs-sm {
    margin-left: 0.25rem;
  }
  .mr-2xs-sm {
    margin-right: 0.25rem;
  }
  .mx-2xs-sm {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .my-2xs-sm {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 48em) {
  .m-2xs-md {
    margin: 0.25rem;
  }
  .mt-2xs-md {
    margin-top: 0.25rem;
  }
  .mb-2xs-md {
    margin-bottom: 0.25rem;
  }
  .ml-2xs-md {
    margin-left: 0.25rem;
  }
  .mr-2xs-md {
    margin-right: 0.25rem;
  }
  .mx-2xs-md {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .my-2xs-md {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 60em) {
  .m-2xs-lg {
    margin: 0.25rem;
  }
  .mt-2xs-lg {
    margin-top: 0.25rem;
  }
  .mb-2xs-lg {
    margin-bottom: 0.25rem;
  }
  .ml-2xs-lg {
    margin-left: 0.25rem;
  }
  .mr-2xs-lg {
    margin-right: 0.25rem;
  }
  .mx-2xs-lg {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .my-2xs-lg {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 80em) {
  .m-2xs-xl {
    margin: 0.25rem;
  }
  .mt-2xs-xl {
    margin-top: 0.25rem;
  }
  .mb-2xs-xl {
    margin-bottom: 0.25rem;
  }
  .ml-2xs-xl {
    margin-left: 0.25rem;
  }
  .mr-2xs-xl {
    margin-right: 0.25rem;
  }
  .mx-2xs-xl {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .my-2xs-xl {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.p-2xs {
  padding: 0.25rem;
}
.pt-2xs {
  padding-top: 0.25rem;
}
.pb-2xs {
  padding-bottom: 0.25rem;
}
.pl-2xs {
  padding-left: 0.25rem;
}
.pr-2xs {
  padding-right: 0.25rem;
}
.px-2xs {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.py-2xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media (min-width: 36em) {
  .p-2xs-sm {
    padding: 0.25rem;
  }
  .pt-2xs-sm {
    padding-top: 0.25rem;
  }
  .pb-2xs-sm {
    padding-bottom: 0.25rem;
  }
  .pl-2xs-sm {
    padding-left: 0.25rem;
  }
  .pr-2xs-sm {
    padding-right: 0.25rem;
  }
  .px-2xs-sm {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .py-2xs-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 48em) {
  .p-2xs-md {
    padding: 0.25rem;
  }
  .pt-2xs-md {
    padding-top: 0.25rem;
  }
  .pb-2xs-md {
    padding-bottom: 0.25rem;
  }
  .pl-2xs-md {
    padding-left: 0.25rem;
  }
  .pr-2xs-md {
    padding-right: 0.25rem;
  }
  .px-2xs-md {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .py-2xs-md {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 60em) {
  .p-2xs-lg {
    padding: 0.25rem;
  }
  .pt-2xs-lg {
    padding-top: 0.25rem;
  }
  .pb-2xs-lg {
    padding-bottom: 0.25rem;
  }
  .pl-2xs-lg {
    padding-left: 0.25rem;
  }
  .pr-2xs-lg {
    padding-right: 0.25rem;
  }
  .px-2xs-lg {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .py-2xs-lg {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 80em) {
  .p-2xs-xl {
    padding: 0.25rem;
  }
  .pt-2xs-xl {
    padding-top: 0.25rem;
  }
  .pb-2xs-xl {
    padding-bottom: 0.25rem;
  }
  .pl-2xs-xl {
    padding-left: 0.25rem;
  }
  .pr-2xs-xl {
    padding-right: 0.25rem;
  }
  .px-2xs-xl {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .py-2xs-xl {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

@media (min-width: 36em) {
  .m-auto-sm {
    margin: auto;
  }

  .mx-auto-sm {
    margin-left: auto;
    margin-right: auto;
  }

  .ml-auto-sm {
    margin-left: auto;
  }

  .mr-auto-sm {
    margin-right: auto;
  }
}

@media (min-width: 48em) {
  .m-auto-md {
    margin: auto;
  }

  .mx-auto-md {
    margin-left: auto;
    margin-right: auto;
  }

  .ml-auto-md {
    margin-left: auto;
  }

  .mr-auto-md {
    margin-right: auto;
  }
}

@media (min-width: 60em) {
  .m-auto-lg {
    margin: auto;
  }

  .mx-auto-lg {
    margin-left: auto;
    margin-right: auto;
  }

  .ml-auto-lg {
    margin-left: auto;
  }

  .mr-auto-lg {
    margin-right: auto;
  }
}

@media (min-width: 80em) {
  .m-auto-xl {
    margin: auto;
  }

  .mx-auto-xl {
    margin-left: auto;
    margin-right: auto;
  }

  .ml-auto-xl {
    margin-left: auto;
  }

  .mr-auto-xl {
    margin-right: auto;
  }
}
